<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="/cadastrarUsuario" method="POST">
        <div class="main-login">
            <div class="right-login">
                <div class="card-login">
                    <h1>Cadastro</h1>
                    <div class="textfield">
                        <label for="username">Nome:</label><br>
                        <input type="text" id="nome" name="nome" placeholder="Nome" required><br><br>
                    </div>
                    <div class="textfield">
                        <label for="username">Email:</label><br>
                        <input type="text" id="email" name="email" placeholder="Email" required><br><br>
                    </div>
                    <div class="textfield">
                        <label for="password">Senha:</label><br>
                        <input type="password" id="password" name="password" placeholder="Senha" required><br><br>
                    </div>
                    {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                    {% endif %}
                    <button class="btn-login" type="submit" value="Login">Cadastrar</button>

                    <a href="{{ url_for('logout') }}">
                        <p style="color: #f0c417;">Já tem login? então entre!</p>
                    </a>
                </div>
            </div>
            <div class="left-login">
                <h1>Faça seu cadastro para criar as suas incríveis anotações!</h1>
            </div>
        </div>
    </form>



</body>
</html>
